html.text-sm {
    font-size: 500px;
}

html.text-md {
    font-size: 700px;
}

html.text-lg {
    font-size: 1000px;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

/* ===============================
   CSS VARIABLES
=============================== */
:root {
    --color-primary: #000000;
    --color-secondary: #ffffff;
    --color-accent: #e74e39;
}

/* ===============================
   BACKGROUNDS
=============================== */
.bg-primary {
    background-color: var(--color-primary);
}

.bg-secondary {
    background-color: var(--color-secondary);
}

.bg-accent {
    background-color: var(--color-accent);
}

/* ===============================
   TEXT COLORS
=============================== */
.text-primary {
    color: var(--color-primary);
}

.text-secondary {
    color: var(--color-secondary);
}

.text-accent {
    color: var(--color-accent);
}

/* ===============================
   SCROLLBAR
=============================== */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@media print {
    body * {
        visibility: hidden;
    }

    .print\:flex,
    .print\:flex * {
        visibility: visible;
    }
}